.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#checkbox {
  width: 1rem
}

form span {
  font-size: 1rem
}

#reset_pass_lbl {
  float: left
}
.home{
  background:url(../public/images/great-books-for-anytime-2000-4ff4221eb1e54b659689fef7d5e265d5.jpg) no-repeat;
  background-size :cover;
  background-position: center;


}
.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}
.home .row .books-slider{
  flex:1 1 42rem;
  text-align: center;
  margin-top: 2rem;

}
.home .row .books-slider a img{
  height: 25rem;
}
.home .row .books-slider a:hover img{
  transform: scale(.9); 
}
.swiper {
  width: 600px;
  height: 300px;
}
section{
  padding: 5rem 9%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
section{
  padding: 3rem 2rem;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

